<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Angular authorization demo application</title>

    <link rel="stylesheet" href="app/main.css" type="text/css" media="screen" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34102546-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body ng-app="angular-auth-demo" class="auth-demo-application waiting-for-angular">

    <a href="https://github.com/witoldsz/angular-http-auth">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
           src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
           alt="Fork me on GitHub">
    </a>

    <div id="initializing-panel"></div>

    <div id="content-outer">

      <div id="login-holder" ng:controller="LoginController">
        <div id="loginbox">
          <p style="color: red; height: 16px; line-height: 16px; font-size: 14px; padding-left: 20px;" ng-show="requiredPermission">You must have the "{{requiredPermission}}" permission to access this functionality.</p>
          <div id="login-inner">
            Note: you can access "protected" content by logging in with any (non-empty) username.<br/><br/>
            Note: you can access "admin" content by logging in with username "admin".<br/><br/>
            <form ng-submit="submit()">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>Username</th>
                  <td><input type="text" class="login-inp" ng-model="username"/></td>
                </tr>
                <tr>
                  <th>Password</th>
                  <td><input type="password" class="login-inp" ng-model="password"/></td>
                </tr>
              </table>
              <button ng-click="login()" class="submit-login">Login</button><button ng-click="cancel()" class="cancel-login"/>Cancel</button>
            </form>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div id="content" ng-controller="ContentController">

        <h1>HTTP Auth Interceptor Module Demo</h1>
        <h2>for AngularJS</h2>

        <h3>What is the purpose of this demo?</h3>
        <p>
          This demo application is to show you the implementation of the concept
          described in
          <a href="http://www.espeo.pl/2012/02/26/authentication-in-angularjs-application">
            Authentication in AngularJS (or similar) based application.
          </a>
        </p>
        <p>
          This application does not talk to real server, it uses
          <a href="http://docs.angularjs.org/api/ngMockE2E"> ngMockE2E module</a> instead.
        </p>
        <p>
          The HTTP Auth Interceptor module source code is available here:
          <br>
          <a href="https://github.com/witoldsz/angular-http-auth">
            https://github.com/witoldsz/angular-http-auth
          </a>
        </p>
        <p>
          The source code of this demo is available in the same project as
          a <a href="http://pages.github.com/">GitHub Pages</a> branch here:
          <br>
          <a href="https://github.com/witoldsz/angular-http-auth/tree/gh-pages">
            https://github.com/witoldsz/angular-http-auth/tree/gh-pages
          </a>
        </p>
        <hr>
        <br>&nbsp;
        <h3>Enter some data and submit to send and access public data.</h3>
        <form ng-submit="publicAction()">
          Enter public data:
          <input type="text" ng-model="publicData">
          <input type="submit" value="Submit"></input>
        </form>
        <p ng-repeat="p in publicContent">Server says: {{p}}</p>

        <br/>
        <br/>

        <h3>Enter some data and submit to send and access protected data.</h3>
        <form ng-submit="restrictedAction()">
          Enter restricted data:
          <input type="text" ng-model="restrictedData">
          <input type="submit" value="Submit"></input>
        </form>
        <p ng-repeat="r in restrictedContent">Server says: {{r}}</p>

        <br/>
        <br/>

        <h3>Enter some data and submit to send and access admin-only data.</h3>
        <form ng-submit="restrictedAdminAction()">
          Enter restricted data:
          <input type="text" ng-model="restrictedAdminData">
          <input type="submit" value="Submit"></input>
        </form>
        <p ng-repeat="r in restrictedAdminContent">Server says: {{r}}</p>

        <br/>
        <br/>

        <h3>Press the button to log out.</h3>
        <input type="button" value="Log out" ng-click="logout()"></input>
        <p>
          The button will tell the server to forget about your session and also
          it will remove sensitive data from page.
        </p>

        <br/>
        <br/>

        <p>
          In real application it could do
          something else like:
        </p>
        <ul>
          <li>forcing login window to appear to hide data,</li>
          <li>reloading web page to purge application from received content or</li>
          <li>whatever you find appropriate...</li>
        </ul>

        <div class="clear">&nbsp;</div>

        <hr>
        <br>&nbsp;

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'angular-http-auth'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>

    <script src="lib/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="lib/angular-1.0.1.js" type="text/javascript"></script>
    <script src="lib/angular-mocks-1.0.1.js" type="text/javascript"></script>
    <script src="lib/http-auth-interceptor.js" type="text/javascript"></script>
    <script src="app/content-mocks.js" type="text/javascript"></script>
    <script src="app/main.js" type="text/javascript"></script>
    <script src="app/login.js" type="text/javascript"></script>
    <script src="app/content.js" type="text/javascript"></script>
  </body>
</html>
