/* feat: before angular is ready, display loading animation */
body.waiting-for-angular div#content-outer {
  display: none;
}
body.waiting-for-angular div#initializing-panel {
  display: block;
  background: url(../images/loading.gif) center center no-repeat;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}


* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  background: #fff;
  color: #393939;
  font-family: Arial;
  font-size: 0px;
  line-height: 0;
}
#content-outer {
  background: url(../images/content_repeat.jpg) repeat-x;
  background-color: white;
}
#content {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto 0 auto;
  max-width: 1260px;
  min-width: 780px;
  padding: 35px 0px 30px 0px;
}
h2 {
  color: #393939;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
h3 {
  color: #92b22c;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
}
